*.exe
Classes métier et de test/Musee.v12.suo
Classes métier et de test/Musee/bin/Debug/Musee.vshost.exe.manifest
Classes métier et de test/Musee/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Classes métier et de test/Musee/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Classes métier et de test/Musee/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Classes métier et de test/Musee/obj/x86/Debug/Musee.csproj.FileListAbsolute.txt